# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
myenv/
.mypy_cache/
*.egg-info/

# Node
node_modules/
dist/

# Database
*.db
/data/
/project_backend/instance/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.env

# Logs and debug
*.log
debug.txt