.admin-page-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 3px;
}

.svg {
  width: 50%;
  display: flex;
  align-self: center;
}

.server-response {
  display: flex;
  font-size: clamp(0.9375rem, 0.8553rem + 0.4386vw, 1.25rem);
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.server-response-status {
  margin-left: 20px;
  border-bottom: 3px solid #88BFFF;
}
