.red {
  background-color: #ef5151;
}

.green {
  background-color: rgb(95, 165, 95);
}

:disabled {
  background-color: white;
  color: gray;
  cursor: not-allowed;
}

:disabled:hover {
  box-shadow: none;
}

.link_button {
  margin-top: 20px;
  background-color: transparent;
}
